@charset "utf-8";

@import "bourbon";
@import "base/base";
@import "neat";

body {
  background-color: $base-background-color;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
}

.header, .footer {
  background-color: $trees1;
  padding: $small-spacing;
}

.header-content, .footer-content {
  @include outer-container;
  color: $sky3;
}

h2 {
  font-size: 200%;
  color: $sky2;
}

h3 {
  font-size: 150%;
  font-weight: bold;
}

.hero {
  @include background(image_url('colorado.jpg'));
  background-size: cover;
  background-position: top;
  height: 300px;
}

.headshot {
  margin-top: -20%;
  padding: $small-spacing;

  img {
    display: block;
    margin: auto;
    max-width: 200px;
  }

  @include media($medium-screen) {
    margin-top: -10%;
  }
}

.content {
  @include outer-container;
  padding: $small-spacing;
  color: $snow1;

  .left-column {
    @include span-columns(12);
    @include media($medium-screen) {
      @include span-columns(3);
      text-align: right;
    }
  }

  .right-column {
    @include span-columns(12);
    img {
      margin-bottom: $small-spacing;
    }

    @include media($medium-screen) {
      @include span-columns(9);
      @include omega();

    }
  }
}

.section-head {
  @include outer-container;
  padding: $small-spacing;
  margin-bottom: -$base-spacing;
  color: $snow1;

  .left-column {
    @include span-columns(12);
    @include media($medium-screen) {
      @include span-columns(3);
      text-align: right;
    }
  }
}
