<% wrap_layout :layout do %>
<div class="content">
  <article>
    <div class="left-column"><h2><%= current_article.title %></h2></div>
    <div class="right-column">
      <%= yield %>
      <p><i><%= current_article.date.strftime('%B %d, %Y') %></i></p>
    </div>
  </article>
</div>
<% end %> 
