---
title: Nick Holden's portfolio
---

<div class="hero"></div>
<div class="headshot">
  <img src="images/headshot.png" alt="Nick Holden" />
</div>
<div class="content">
  <div class="left-column">
    <h2>Hi!</h2>
  </div>
  <div class="right-column">
    <p>
      During the day, I use words and multimedia to tell compelling stories about middle and high school programs at MIT. In early 2014, I took an online course that reignited my interest in programming, and I've been hooked ever since. Today, I spend a whole lot of my free time learning about tools to develop web applications and automate processes.
    </p>
    <p>
      You can reach me at <a href="mailto:nick.r.holden@gmail.com">nick.r.holden@gmail.com</a>.
    </p>
  </div>
</div>
<div class="section-head">
  <div class="left-column">
    <h2>Projects</h2>
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>jbbrd</h3>
    <a href="http://jbbrd.nickholden.io" target="_blank"><i class="fa fa-desktop"></i> Demo</a><br />
    <a href="https://github.com/nholden/job_board" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>A simple, responsive job board that's fast and easy for board adminstrators, job seekers, and employers.</p>
    <img src="https://cloud.githubusercontent.com/assets/7942714/8096438/26e993fc-0fa5-11e5-980c-6b843c8e65ed.png" alt="Screenshot of jbbrd" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    <p>Back end: Ruby, Rails<br />
    Front end: HTML, CSS, Javascript<br />
    Testing: Rspec, FactoryGirl, Cucumber, Capybara</p>
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>MIT Course Catalog Parser</h3>
    <a href="http://mitcourses.nickholden.io" target="_blank"><i class="fa fa-desktop"></i> Demo</a><br />
    <a href="https://github.com/nholden/mit_course_catalog_parser" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>Gathering information from the MIT Course Catalog isn't easy. This app generates a clean HTML table with information about classes for a given course and term.</p>
    <img src="https://cloud.githubusercontent.com/assets/7942714/8098013/1abe9060-0fb8-11e5-8436-de8df8e63c6a.png" alt="Screenshot of MIT Course Catalog Parser" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    <p>Back end: Ruby, Sinatra, Nokogiri<br />
    Front end: HTML, CSS<br />
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>Drupal Batch User Creator</h3>
    <a href="https://github.com/nholden/drupal-batch-people" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>For organizations with Drupal websites, creating user accounts for your stakeholders empowers them to contribute content and access restricted pages. When you have hundreds to add at once, this script takes infromation from a CSV and creates new users for your website without the need to install any Drupal modules.</p>
  <img src="https://cloud.githubusercontent.com/assets/7942714/8230098/f2f6d190-158a-11e5-8447-270fbb966401.png" alt="Screenshot of Drupal Batch User Creator" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    Ruby, Capybara, Selenium WebDriver
  </div>
</div>
