---
title: Nick Holden's portfolio
---

<div class="hero">
</div>
<div class="content">
  <div class="headshot">
    <img src="/images/headshot.png" alt="Nick Holden" />
  </div>
  <div class="intro">
    <h2>Hi!</h2>
    <p>
      During the day, I use words and multimedia to tell compelling stories for middle and high school programs at MIT. In early 2014, I took an online course that reignited a deep-seeded interest in programming, and I've been hooked ever since. Now, I spend a whole lot of my free time learning about technologies to build useful web applications and automate tedious processes.
    </p>
  </div>
</div>
