---
title: Home
---

<div class="content">
  <div class="left-column">
    <h2>Hi!</h2>
  </div>
  <div class="right-column">
    <p>
    I've always had an interest in programming, and this year I made it my full-time career. Back in early 2014, I took <a href="http://www.saasbook.info/courses" target="_blank">Engineering Software as a Service</a>, which helped me realize that I wanted to spend more of my time writing code and solving problems. Today, I'm a support developer at <a href="http://www.realhq.com" target="_blank">Real HQ</a>, and I still spend a whole lot of my free time learning about software development and working on side projects.
    </p>
    <p>
      You can reach me at <a href="mailto:nick.r.holden@gmail.com">nick.r.holden@gmail.com</a>.
    </p>
  </div>
</div>
<div class="section-head">
  <div class="left-column">
    <h2>Projects</h2>
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>San Diego Apartments</h3>
    <a href="http://sandiego.nickholden.io" target="_blank"><i class="fa fa-desktop"></i> Demo</a><br />
    <a href="https://github.com/nholden/san-diego-apartments" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>Gathers data on available San Diego apartments and alerts subscribers to changes.</p>
    <img src="https://cloud.githubusercontent.com/assets/7942714/16229957/2a4a8a36-378d-11e6-8f0e-dea6dbd069cd.png" alt="Screenshot of San Diego Apartments" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    <p>Back end: Ruby, Rails, Mailgun, Heroku Scheduler<br />
    Front end: HTML, CSS, Javascript<br />
    Testing: Rspec, FactoryGirl</p>
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>Run Gear Planner</h3>
    <a href="http://rungearplanner.nickholden.io" target="_blank"><i class="fa fa-desktop"></i> Demo</a><br />
    <a href="https://github.com/nholden/run_planner" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>Combines local weather data with your preferences to recommend clothes for your next run.</p>
    <img src="https://cloud.githubusercontent.com/assets/7942714/12011877/ccd9934c-acae-11e5-9736-c4f5122fa45a.png" alt="Screenshot of Run Gear Planner" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    <p>Javascript, HTML, CSS</p>
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>jbbrd</h3>
    <a href="http://jbbrd.nickholden.io" target="_blank"><i class="fa fa-desktop"></i> Demo</a><br />
    <a href="https://github.com/nholden/job_board" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>A simple, responsive job board that's fast and easy for board adminstrators, job seekers, and employers.</p>
    <img src="https://cloud.githubusercontent.com/assets/7942714/8096438/26e993fc-0fa5-11e5-980c-6b843c8e65ed.png" alt="Screenshot of jbbrd" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    <p>Back end: Ruby, Rails<br />
    Front end: HTML, CSS, Javascript<br />
    Testing: Rspec, FactoryGirl, Cucumber, Capybara</p>
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>MIT Course Catalog Parser</h3>
    <a href="http://mitcourses.nickholden.io" target="_blank"><i class="fa fa-desktop"></i> Demo</a><br />
    <a href="https://github.com/nholden/mit_course_catalog_parser" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>Gathering information from the MIT Course Catalog isn't easy. This app generates a clean HTML table with information about classes for a given course and term.</p>
    <img src="https://cloud.githubusercontent.com/assets/7942714/8098013/1abe9060-0fb8-11e5-8436-de8df8e63c6a.png" alt="Screenshot of MIT Course Catalog Parser" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    <p>Back end: Ruby, Sinatra, Nokogiri<br />
    Front end: HTML, CSS<br />
  </div>
</div>
<div class="content">
  <div class="left-column">
    <h3>Drupal Batch User Creator</h3>
    <a href="https://github.com/nholden/drupal-batch-people" target="_blank"><i class="fa fa-github"></i> GitHub</a>
  </div>
  <div class="right-column">
    <p>Need to create a bunch of new users for your Drupal website? This script takes usernames, passwords, and other information from a CSV and creates them in a fraction of the time it would take to do so manually and without the need to install any Drupal modules.</p>
  <img src="https://cloud.githubusercontent.com/assets/7942714/8230098/f2f6d190-158a-11e5-8447-270fbb966401.png" alt="Screenshot of Drupal Batch User Creator" />
  </div>
  <div class="left-column">
    <h4>Tools</h4>
  </div>
  <div class="right-column">
    Ruby, Capybara, Selenium WebDriver
  </div>
</div>
