---
title: Nick Holden's portfolio
---

<div class="title">
  <h1>Nick Holden's portfolio</h1>
</div>
<div class="intro">
  <p>
    <%= link_to "Find me on GitHub", "http://github.com/nholden" %>
  </p>
</div>
